:root {
    --primary: #299D91;
    --dark-primary: #84b4fb;
    --light-primary: #e2ebf9;
    --secondary: #99cb3b;
    --dark-secondary: #cce59d;
    --light-secondary: #f4f9eb;
    --grey: #f5f5f5;
    --dark-gray:#d2d1d1;
    --border-radius-small:8px;
    --border-radius-big:16px;
    --font-family: 'tajwal';

}